<!DOCTYPE html>
<html>
    <head>
    <title> Atualizar </title>
    </head>
    <meta charset="UTF-8">
    <body>
        <h1> Atualizar </h1>
        <hr>
         <form action='' method='POST'>
            <table>
                <tr>
                    <td> Nome </td>
                    <td> <input type='text' name='nome' value='{{pessoa.nome}}'> </td>
                </tr>
                <tr>
                    <td> Telefone </td>
                    <td> <input type='text' name='telefone' value='{{pessoa.telefone}}'> </td>
                </tr>
                <tr>
                    <td> CPF </td>
                    <td> <input type='text' name='cpf' value='{{pessoa.cpf}}'> </td>
                </tr>
                <tr>
                    <td> Email </td>
                    <td> <input type='text' name='email' value='{{pessoa.email}}'> </td>
                </tr>             
            </table> <br>
             <input type='submit' value='Atualizar' px-10 py-10>
        </form>
             <a < href='/index'>Voltar</a>
    </body>
</html>
